.homepage {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: -10;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.paralellogram_shaped_div {
  height: 60vh;
  width: 100%;
  clip-path: polygon(0px 0px, 100% 0px, 100% 75%, 0px 100%);
  background-image: url(../Images/fish-and-chips-takeaway-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paralellogram_shaped_div p {
  color: white;
  padding: 1rem;
  
}

.slogan {
  text-align: center;
  width: 100vw;
  transform: skew(0deg, 7deg);
  color: white;
  font-family: Antonio;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}


/* Animation for Slogan */
.slogan {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


