.cart_icon {
  margin-right: -2rem;
  padding: 0.2rem 2rem 0.2rem 2rem;
  display: flex;
  border-radius: 50px;
  background-color: #451602;
  align-items: center;
  color:white;
  font-weight: bold;
  font-family: Roboto;
  letter-spacing: 0.05rem;
  
}

img {
  width: 2rem;
  height: 2rem;
  margin-right: .7rem;
}

.quantity {
  margin-left: 1rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  border-radius: 20px;
  background-color: #a53005; 
}

.cart_icon:hover  {
  background-color: #6b2203;
}




